* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  background-color: #f0eec8;
  color: #096386;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h2 {
  text-align: center;
}

.hidden {
  display: none;
}

/* header elements */

header img {
  height: 2.4rem;
}

header h1 {
  display: inline-block;
  margin: 0;
  margin-left: 1rem;
  font-size: 2rem;
}

header h2 {
  font-size: 1.4rem;
  margin: 2rem 10rem;
}

#logo {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

#ships-to-drag {
  background-color: #00b7a8;
  height: 54.5vmin;
  width: 54.5vmin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
  margin-top: 2rem;
}

#ships-to-drag img {
  height: 2.2rem;
  margin-right: 2rem;
}

#ships-to-drag h2 {
  margin-top: -2.8rem;
  margin-bottom: 0;
}

.over {
  border: 3px solid rgb(95, 147, 143) 8;
}

/* board elements  */

#sec-user {
  height: 100%;
}

#sec-comp {
  height: 100%;
}

section h2 {
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 5vmin);
  grid-template-rows: repeat(10, 5vmin);
  gap: 0.5vmin;
}

.board > div {
  background-color: #00b7a8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rotated {
  transform: rotate(90deg);
}

/* footer elements */

#score {
  text-align: center;
  font-size: 2rem;
}

footer {
  margin-top: 2rem;
}

footer button {
  padding: 1rem 2.4rem;
  border: none;
  border-radius: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: #096386;
  color: #f0eec8;
}

#start-game:hover {
  background-color: #0c084c;
}

#start-again {
  margin: 0 auto;
  text-align: center;
}

#start-again:hover {
  background-color: #0c084c;
}
